@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family     : 'Permanent Marker', cursive;
    background-color: #252525;
    margin          : 0;
    color           : #fcfcfc;
}

.game {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    min-height     : 100vh;
}

h1 {
    font-size: 52px;
}

h2{
    font-size: 32px;
}

.options {
    margin-top: 44px;
}

button {
    border          : 1px solid #fcfcfc;
    padding         : 32px;
    border-radius   : 7px;
    margin          : 0 16px 0 16px;
    font-size       : 32px;
    background-color: #fcfcfc;
}

img {
    display         : flex;
    justify-content : center;
    align-items     : center;
    border-radius   : 12px;
    background-color: #fcfcfc;
}

button:hover {
    cursor : pointer;
    padding: 36px;
}

.count {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-top     : 64px;
    padding        : 0 32px 0 32px;
}

#playerText {
    color: rgb(97, 113, 255);
}

#computerText {
    color: rgb(255, 85, 85);
}

#resultText {
    color: rgb(243, 243, 98);
}