@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    font-family     : 'Permanent Marker', cursive;
    background-color: #252525;
    margin          : 0;
    color           : #31f300;
}